$color-1: darkred;
$color-2: silver;
$color-3:  #267911;
$color-4:rgb(0, 255, 106);
$color-accent: black;
$color-active:gold;
$color-hover:tan;
$color-visited:crimson;



$font-heading:'Arial'sans-serif;
$font-style:'Arial' sans-serif;
$font-size: small;
$font-color1: black;
$font-color2: silver;

