$color-primary: darkred;
$color-secondary: silver;
$color-teriary:  #267911;
$color-accent: black;
$color-active:gold;
$color-hover:aquamarine;
$color-visited:slateblue;



$font-heading:'Arial'sans-serif;
$font-body:'Arial' sans-serif;