body{
    background-color: lightblue;
    font-style: normal;
  }
 
  . h1:hover{
    border width: 5px;
    color: royalblue;
    text-align: center;
    font-size: larger;
  }
  
 p + article{
    font-family: verdana;

    font-size: 20px;
    font-style: roman;
 }      

a:link{ color: red;}   
a:visited{ color:goldenrod;}
a:hover{ background-color:purple;}
a:active{ background-color: tomato;}