* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header,
main,
footer {
    padding: 0.5rem;

}
header {
    background-color: darkred;
    text-align: center; 
    font-size: large; 
    font-family: Arial, Helvetica, sans-serif;   
}
.logo {
    width:100px ;
    height: 100px;
    float: left;
}
.banner {
    width: fit-content;
    height:fit-content;
    color: silver;
    text-align: top-center;
}
.video{
    width: fit-content;
    height: fit-content;
}
main {    
    background-color: rgb(219, 223, 219);
    font-size: small;
} 
footer {   
    background-color: rgb(38, 121, 17);
    width: fit-content;
    height: fit-content;
}
.grid-container {
    display: grid;
    grid-template-rows: 75px 2fr 25px;
    min-height: 100vh;
}
.photo {
    max-width:100% ;
}
@media only screen and (min-width:750px) {
    .logo {
        max-width: 50%;
        float: left;
        margin-right: 1.5rem;
    }
}
@media only screen and (min-width:969px) {
    .grid-container {
        grid-template-rows:120px 2fr 30px;
    }
    header button {
        display: none;
    }

}
@media print {
    body {
        font-size: 3rem;
    }

}


