@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); 
@import '_colors.scss';
@import '_mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#grid-container {
    display: grid;

}
a{
    color:$color-1;
}
#header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: $color-1;
    box-shadow: 1px 1px 3px 0;
    z-index: 3;
}
#header ul{
    margin:0 ;
    padding: 0;
    list-style: none;
    background-color: $color-3;
    overflow: visible;
    
}
.banner {
    font-size: xx-large;
    color:$color-2;

}
#menu {
    
}
div > iframe {
    width: max-content;
    height: max-content;
}
#header ul a{
    display: block;
    padding: 15px;
    border-right: royalblue;


}
#content {
    display: grid;
    background-color: $color-2;
    min-height: 85vh;
}
#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height:10vh;
    justify-items: center;
    align-items: center;
    background-color: $color-3;
}.video{
    width: 500px;
    height: 300px;

}



.grid-container  {
    display: -moz-inline-grid;
    grid-template-columns: repeat(10 1fr);
    grid-template-rows: 25% 100px 50%;
    grid-template-areas:
    "header"
    "body"
    "footer";
    padding: 10px;
    
}
.grid-item {
    background-color:$color-4;
    border: 2px solid rgba(0,0,0,0.8);
    padding: 20px;
    font-size: large;
    text-align: center;
    .background {
        background-image: url('images/stone oven.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
     .photo {
        max-height: 750px;
        max-width: 750px;
    }
    
}

.photo {
    height: fit-content;
    width: fit-content;
}
.logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 1.5rem;
    display: block;
}
@media only screen and (min-width:750px) {
    .grid-container {
        grid-template-rows:120px 2fr 30px;
    }
   
}
@media only screen and (min-width:969px) {
    .grid-container {
        grid-template-rows:120px 2fr 30px;
    }
    header button {
        display: none;
    }

}
@media print {
    body {
        font-size: 3rem;
    }

}
    

