@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 300px) minmax(400px, 3fr) minmax(200px, 1fr);
      grid-template-columns: minmax(100px, 300px) minmax(400px, 3fr) minmax(200px, 1fr);
  grid-gap: 0.5rem;
      grid-template-areas: 'header header header' 'lsidebar content rsidebar' 'footer footer footer';
}

#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
      grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  min-height: 75%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  background-color: darkred;
  -webkit-box-shadow: 1px 1px 3px 0;
          box-shadow: 1px 1px 3px 0;
  z-index: 3;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #267911;
  justify-items: right;
}

#header ul #header li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #267911;
}

#header ul .menu li:hover {
  background-color: tan;
}

.banner {
  font-size: xx-large;
  color: silver;
  text-align: right;
}

div > iframe {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#header ul a {
  display: block;
  padding: 15px;
  border-right: royalblue;
}

#content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  background-color: silver;
  min-height: 85vh;
}

#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  min-height: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #267911;
}

#footer .script {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  width: 500px;
  height: 300px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10 1fr);
  -ms-grid-rows: 25% 100px 50%;
      grid-template-rows: 25% 100px 50%;
      grid-template-areas: 'header header header';
  padding: 10px;
}

.grid-item {
  background-color: darkred;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: large;
  text-align: center;
  color: black;
}

.grid-item .background {
  background-image: url("images/stone oven.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
}

.grid-item .photo {
  max-height: 750px;
  max-width: 750px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 1.5rem;
  display: block;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-rows: 120px 2fr 30px;
        grid-template-rows: 120px 2fr 30px;
  }
}

@media only screen and (max-width: 991px) {
  #grid-container {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=style.css.map */